body {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

/* indent everything within a section */
section > * {
    margin-left: 30px;
}

/* don't indent the section header */
section > :first-child {
    margin-left: 0px;
}

.l1 {
    margin-left: 0px;
}

.l2 {
    margin-left: 20px;
}

.l3 {
    margin-left: 40px;
}
